extends ../layouts/common

block content

 h1 Users

 a.btn.btn-primary(href="/users/create") New

 form(action="/users/search", method="GET", class="mt-3")
  .form-group.d-flex
    input.form-control(type="text", name="q")
    input.btn.btn-primary(type="submit" value="Search")

 table.table
   tr
     th Name
     th Phone
     th Actions
   each user in users
    tr
      td= user.name
      td= user.phone
      td
        a.btn.btn-info(href="/users/" + user.id) View